<p>
  Galerias de Nuestros Eventos
 </p>
 
 
 
 <div class="container">
   <div class="row">
     <div class="row">
         <div class="col-md-4 wow bounceInRight" data-wow-duration="1s" data-wow-delay="1s">
           <div class="thumbnail"><img src="assets/img/imagen.png" alt="Thumbnail Image 1">
             <div class="caption">
               <h3>Evangelizacion Jóvenes</h3>
               <p>Evangelizacion de los jovenes y ayuda comunitaria.</p>
               <p><a [routerLink]="['../coro']" class="btn btn-primary" role="button">Ver Imagenes</a></p>
             </div>
           </div>
       </div>
       <div class="col-md-4 wow bounceInDown" data-wow-duration="1s" data-wow-delay="1s">
         <div class="thumbnail"><img src="assets/img/imagen.png" alt="Thumbnail Image 1">
             <div class="caption">
               <h3>Evento de Voluntarios</h3>
               <p>Los Voluntarios de nuestra iglesia tuvieron de un gran evento.</p>
               <p><a [routerLink]="['../voluntarios']" class="btn btn-primary" role="button">Ver Imagenes</a></p>
             </div>
           </div>
       </div>
       <div class="col-md-4 wow bounceIn" data-wow-duration="1s" data-wow-delay="1s">
         <div class="thumbnail"><img src="assets/img/imagen.png" alt="Thumbnail Image 1">
             <div class="caption">
               <h3>Cumpleaños Pastor Roberto</h3>
               <p>Un Cumpleaños distinto al de otros años una gran fiesta cristiana</p>
               <p><a [routerLink]="['../eventuales']" class="btn btn-primary" role="button">Ver Imagenes</a></p>
             </div>
           </div>
       </div>
     </div>
   </div>
 </div>
  
 <div class="card-body">
   <a [routerLink]="['/inicio']" class="btn btn-dark btn-block">Regresar</a>
  
    
 </div>
 