<p>
  historia works!
</p>

<p>This accordion uses customized default values.</p>

<ngb-accordion #acc="ngbAccordion" activeIds="ngb-panel-0">
  <ngb-panel title="Declaración de Propósito">
    <ng-template ngbPanelContent>
          <p text-align="justify">1.- Esta Iglesia existe por la gracia de Dios, para proclamar con urgencia el mensaje de salvación contenido en las sagradas escrituras, destacando la exclusividad de Jesucristo como único y suficiente salvador del ser humano.</p>
      <p text-align="justify">&nbsp;</p>
      <p text-align="justify">2.- También para educar biblica y teológicamente a sus miembros, procurando su formación integral.</p>
      <p text-align="justify">&nbsp;</p>
      <p text-align="justify">3.- Complementariamente, y a partir de sólidos criterios biblicos, esta comunidad de fe vivirá para servir al prójimo, evidenciando con obras de amor misericordioso su ineludible compromiso social. </p>
    </ng-template>
  </ngb-panel>
  <ngb-panel>
  </ngb-panel>

</ngb-accordion>


  
<div class="card-body">
  <a [routerLink]="['/inicio']" class="btn btn-dark btn-block">Regresar</a>
 
   
</div>
