<video src="assets/vid/iglesia.mp4" width="1080" height="370" controls muted autoplay preload></video>


<!--Carousel Wrapper-->
<mdb-carousel [isControls]="true" class="carousel slide carousel-fade" [animation]="'fade'">
  <!--First slide-->
  <mdb-carousel-item>
    <video class="video-fluid" autoplay loop>
      <source src="https://mdbootstrap.com/img/video/Tropical.mp4" type="video/mp4" />
    </video>
  </mdb-carousel-item>
  <!--/First slide-->
  <!--Second slide-->
  <mdb-carousel-item>
    <video class="video-fluid" autoplay loop>
      <source src="https://mdbootstrap.com/img/video/forest.mp4" type="video/mp4" />
    </video>
  </mdb-carousel-item>
  <!--/Second slide-->
  <!--Third slide-->
  <mdb-carousel-item>
    <video class="video-fluid" autoplay loop>
      <source src="https://mdbootstrap.com/img/video/Tropical.mp4" type="video/mp4" />
    </video>
  </mdb-carousel-item>
  <!--/Third slide-->
</mdb-carousel>
<!--Carousel Wrapper-->
Gallery with slides and capti
 

<carousel>
    
    <slide>
        <img src="assets/img/bienvenido.jpg"  width="1280" height="370" alt="first slide" style="display: block; width: 100%;">
        <div class="carousel-caption d-none d-md-block">
          <h1>Bienvenido</h1>
          <p>no hay mejor lugar que tu casa.</p>
        </div>
      </slide>
  <slide>
    <img src="assets/img/san.png" alt="second slide" style="display: block; width: 100%;">
    <div class="carousel-caption d-none d-md-block" >
      <h3>First slide label</h3>
      <p>Nulla vitae elit libero, a pharetra augue mollis interdum.</p>
    </div>
  </slide>
  <slide>
    <img src="assets/img/la.png" alt="third slide" style="display: block; width: 100%;">
    <div class="carousel-caption d-none d-md-block">
      <h3>Second slide label</h3>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
    </div>
  </slide>
  <slide>
    <img src="assets/img/letrero.jpg" alt="quarter slide" style="display: block; width: 100%;">
    <div class="carousel-caption d-none d-md-block">
      </div>
  
  </slide>
</carousel>
