<p>
Cultos de Adoracion a Dios
</p>



<div class="container">
  <div class="row">
    <div class="row">
        <div class="col-md-4 wow bounceInRight" data-wow-duration="1s" data-wow-delay="1s">
          <div class="thumbnail"><img src="assets/img/tv.png" alt="Thumbnail Image 1">
            <div class="caption">
              <h3>Domingo 04 Febrero</h3>
              <p>Nuestro hermano nos hablo sobre la ira y como prevenirla.</p>
              <p><a href="http://localhost:4200/proposito" class="btn btn-primary" role="button">Ver Culto</a></p>
            </div>
          </div>
      </div>
      <div class="col-md-4 wow bounceInDown" data-wow-duration="1s" data-wow-delay="1s">
        <div class="thumbnail"><img src="assets/img/tv.png" alt="Thumbnail Image 1">
            <div class="caption">
              <h3>Domingo 11 Febrero</h3>
              <p>Nuestro pastor nos dio una recomendacion sobre como vivir a Cristo diariamente.</p>
              <p><a href="#" class="btn btn-primary" role="button">Ver Culto</a></p>
            </div>
          </div>
      </div>
      <div class="col-md-4 wow bounceIn" data-wow-duration="1s" data-wow-delay="1s">
        <div class="thumbnail"><img src="assets/img/tv.png" alt="Thumbnail Image 1">
            <div class="caption">
              <h3>Domingo 18 Febrero</h3>
              <p>Un gran culto recordando lo que Cristo hizo por nosotros</p>
              <p><a href="#" class="btn btn-primary" role="button">Ver Culto</a></p>
            </div>
          </div>
      </div>
    </div>
  </div>
</div>
 
<div class="card-body">
  <a [routerLink]="['/inicio']" class="btn btn-dark btn-block">Regresar</a>
 
   
</div>
