
<!-- <video autoplay="autoplay" loop="loop" id="video_background" preload="auto" volume="50">
    <source src="assets/vid/iglesia.mp4" type="video/mp4" />
     </video>
   


      <nav class="navbar navbar-expand-lg " style="background-color: #354957;">background-color:rgb(255, 255, 255);
 <a class="navbar-brand" href="#">
            <img src="assets/img/marca.png" width="110" height="40" class="d-inline-block align-top" alt="">
          
          </a>
      
-->
<nav class="navbar navbar-expand-lg " style="background-color:rgb(214, 255, 235);">
    <a class="navbar-brand" href="#">
        <img src="assets/img/marca.png" width="110" height="40" class="d-inline-block align-top" alt="">
      
      </a>
   
        

<!--!-->
    
    
        <div class="container-fluid" id="navbarSupportedContent">   
            

    <ul class="nav navbar-nav navbar-nav ml-auto">
         
       
           
          
  <li class="nav-item" routerLinkActive="active">
        <a class="nav-link" [routerLink]="['login']"> Ingreso</a>
    </li>
    <li class="nav-item" routerLinkActive="active">
        <a class="nav-link" [routerLink]="['registro']">Registro</a>
    </li>
          </ul>
          
    </div>
      </nav>
   
     
<!--<nav class="navbar navbar-expand-sm bg-dark navbar-dark">!-->
    <nav class="navbar navbar-expand-lg  bg-dark navbar-dark" style="background-color: #ffffff;">
        <a class="navbar-brand" [routerLink]="[]"></a>
       
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul  class="navbar-nav mr-auto"  >
          <li class="nav-item active" routerLinkActive="active">
              <a class="nav-link" [routerLink]="['inicio']">Home</a>
          </li>
          <li class="nav-item" routerLinkActive="active">
            <a class="nav-link" [routerLink]="['somos']">Quienes Somos </a>
        </li>
        <li class="nav-item" routerLinkActive="active">
            <a class="nav-link" [routerLink]="['proposito']">Proposito</a>
        </li>
        <li class="nav-item" routerLinkActive="active">
            <a class="nav-link" [routerLink]="['historia']">Historia</a>
        </li>
        <li class="nav-item" routerLinkActive="active">
            <a class="nav-link" [routerLink]="['perfiles']">Perfiles</a>
        </li>
        <li class="nav-item" routerLinkActive="active">
            <a class="nav-link" [routerLink]="['mision']">Mision</a>
        </li>
        <li class="nav-item" routerLinkActive="active">
            <a class="nav-link" [routerLink]="['reuniones']">Reuniones</a>
        </li>
        <li class="nav-item" routerLinkActive="active">
            <a class="nav-link" [routerLink]="['vision']">Cuerpos</a>
        </li>
        <li class="nav-item" routerLinkActive="active">
            <a class="nav-link" [routerLink]="['galeria']">Galeria</a>
        </li>
        <li class="nav-item" routerLinkActive="active">
            <a class="nav-link" [routerLink]="['eventos']">Eventos</a>
        </li>
        <li class="nav-item" routerLinkActive="active">
            <a class="nav-link" [routerLink]="['contacto']">Contacto</a>
        </li>
       <li class="nav-item" routerLinkActive="active">
                <a class="nav-link" [routerLink]="['ubicacion']">Ubicacion</a>
            </li>
            
        <li class="nav-item" routerLinkActive="active">
            <a class="nav-link" [routerLink]="['eventuales']"></a>
        </li>
            <li class="nav-item" routerLinkActive="active">
                <a class="nav-link" [routerLink]="['creditos']"></a>
            </li>
    

            <li>
                <a   target="_blank" href="https://www.facebook.com/impsanramon/" class="btn waves-effect waves-teal">   <img width="25px" src="assets/img/face.png"  class="d-inline-block align-top"></a>
                <a   target="_blank" href="https://api.whatsapp.com/send?phone=56966117123&text=Buenas Estimado Pastor" class="btn waves-effect waves-teal">   <img width="25px" src="assets/img/wat.png"  class="d-inline-block align-top" target="_blank" rel="noopener"></a>
        
                <a   target="_blank"  href="https://www.instagram.com/" class="btn waves-effect waves-teal">   <img width="25px" src="assets/img/insta.png"  class="d-inline-block align-top"></a>
          
                <a   target="_blank" href="https://www.youtube.com/channel/UC_L8qp7XDWfVbUQdIviRQpA" class="btn waves-effect waves-teal">   <img width="25px" src="assets/img/you.png"  class="d-inline-block align-top"></a>
          
          
            </li>

      </ul>
 
  </div>
</nav>

