
<nav class="navbar navbar-expand-lg " style="background-color: #005694;">
    
        <div class="container-fluid" id="navbarSupportedContent">   
            

    <ul class="nav navbar-nav navbar-nav ml-auto">
         
       
           
          
  <li class="nav-item" routerLinkActive="active">
        <a class="nav-link" [routerLink]="['login']"> Ingreso</a>
    </li>
    <li class="nav-item" routerLinkActive="active">
        <a class="nav-link" [routerLink]="['registro']">Registro</a>
    </li>
          </ul>
          
    </div>
      </nav>
   
     

<nav class="navbar navbar-expand-sm bg-dark navbar-dark">
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul  class="navbar-nav mr-auto"  >
          <li class="nav-item active" routerLinkActive="active">
              <a class="nav-link" [routerLink]="['inicio']">Home</a>
          </li>
          <li class="nav-item" routerLinkActive="active">
              <a class="nav-link" [routerLink]="['perfiles']">Perfiles</a>
          </li>
          <li class="nav-item" routerLinkActive="active">
            <a class="nav-link" [routerLink]="['mision']">Mision</a>
        </li>
        <li class="nav-item" routerLinkActive="active">
            <a class="nav-link" [routerLink]="['vision']">Vision</a>
        </li>
        <li class="nav-item" routerLinkActive="active">
            <a class="nav-link" [routerLink]="['galeria']">Galeria</a>
        </li>
        <li class="nav-item" routerLinkActive="active">
            <a class="nav-link" [routerLink]="['eventos']">Eventos</a>
        </li>
    
     
        <li class="nav-item" routerLinkActive="active">
                <a class="nav-link" [routerLink]="['ubicacion']">Ubicacion</a>
            </li>
    

      </ul>
 
  </div>
</nav>

